{% extends 'images/base.html' %}
{% load static %}
{% block title %}{{ profile.user.username|title }}{% endblock title %}


{% block body %}
<div>
    <h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
    <img src="{{ profile.photo.url }}" alt="profile-photo" width="150px" height="auto">
    <p>Country: {{ profile.country.name }}</p>
    <p>Age: {{ profile.user.age }}</p>
    <p>username: {{ profile.user.username }}</p>
    <p>Date Joined: {{ profile.user.date_joined }}</p>
    <p>Bio:</p>
    <p>Followers: {{ followers }}</p>
    <div class="dropdown">
        <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <p>Followers: {{ followers }}</p>
        </button>
        <ul class="dropdown-menu">
            {% for foll in list_followers %}
          <li><a class="dropdown-item" href="{% url 'accounts:profile_detail' foll.id %}">{{ foll.first_name }} {{ foll.last_name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    <p>{{ profile.bio }}</p>
    <a href="{% url 'accounts:user_profile_update' %}" role="button" type="button">Update profile</a>
    <a href="{% url 'accounts:delete_user' user.pk %}" role="button" type="button">Close This Account</a>
</div>
{% endblock body %}