{% extends 'images/base.html' %}
{% load static %}
{% block title %}{{ profiles.user.username|title }}{% endblock title %}


{% block body %}
<div class="container">
    <div>
        <h1>{{ profiles.user.first_name }} {{ profiles.user.last_name }}</h1>
        <img src="{{ profiles.photo.url }}" alt="profiles-photo" width="150px" height="auto">
        <p>Country: {{ profiles.country.name }}</p>
        <p>Age: {{ profiles.user.age }}</p>
        <p>username: {{ profiles.user.username }}</p>
        <p>Date Joined: {{ profiles.user.date_joined }}</p>
        <p>Bio:</p>
        <p>{{ profiles.bio }}</p>
        <div class="dropdown">
            <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <p>Followers: {{ followers }}</p>
            </button>
            <ul class="dropdown-menu">
                {% for foll in list_followers %}
              <li><a class="dropdown-item" href="{% url 'accounts:profile_detail' foll.id %}">{{ foll.first_name }} {{ foll.last_name }}</a></li>
              {% endfor %}
            </ul>
          </div>
    </div> 
</div>
<div class="container mt-2">
    <form action="{% url 'accounts:profile_follow' profiles.pk %}" method="post">
        {% csrf_token %}
        {% if profiles.user != request.user %}
        {% if follow %}
            <button type="submit" name="profile_id" value="{{ profiles.pk }}">Unfollow</button>
            {% else %}
            <button type="submit" name="profile_id" value="{{ profiles.pk }}">Follow</button>

        {% endif %}
        {% endif %}
    </form>
</div>


{% endblock body %}