{% extends 'images/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock title %}


{% block body %}
<main class="form-signin w-75 m-auto justify-content-center">
    <div>
        <h1><center>Register New User</center></h1>
    </div>
    <div class="">
        <form action="" method="post" style="display: block; margin-top: 0em;">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Sign Up" class="btn btn-outline-success">
    
        </form>
    </div>
</main>


{% endblock body %}